body{
  background-color: #eeeeee;
}

.top-spacing {
  margin-top: 20px;
}


.top-spacing-big {
  margin-top: 10%;
}

.header-login{
	color: #fff;
	background-color: #3071a9;
	border-color: #285e8e;
	border-radius: 5px;
	padding: 5px;
	font-size: 24px;
	text-align: center;
}

.footer{
	position: relative;
	bottom: 5px;
	font-size: 12px;
	margin-left: 40%;
	margin-top: 20px;
}

.img-size{
	max-width: 75px;
	max-height: 75px;
}

@media screen and (max-width: 600px) {
  .footer{
	position: fixed;
	bottom: 5px;
	font-size: 12px;
	margin-left: 20%;
	}
}

.navbar-default {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fff;
	background-color: transparent;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.dropdown-menu {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #4169FC;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #fff;
	background-color: #4169FC;
}

.dropdown-menu>li>a{
	color: #fff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #4169FC;
}

.btn-add{
	margin-bottom: 15px;
}

.profile-pic{
	margin-bottom: 5px;
}

.btn-amount{
	float: right;
	margin-top: -10px;
}


@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	 color: #fff; 
	}

	.btn-amount{
		margin-top: 5px;
		float: left;
		margin-bottom: 5px;
	}

	.btn-amount-delete{
		margin-top: 5px;
		margin-left: 40px;
	}
}
